<oa-ceph-cluster-loader on-cluster-load="$ctrl.onClusterLoad(cluster)">
  <oa-module-loader module="ceph">

    <oa-loading-panel message="Ceph OSDs are loading..."
                      ng-show="!$ctrl.error && !$ctrl.osd.$resolved">
    </oa-loading-panel>
    <oa-error-panel ng-if="$ctrl.error">
      Ceph OSD resources could not be loaded.
    </oa-error-panel>

    <oadatatable ng-show="!$ctrl.error && $ctrl.osd.results"
                 data="$ctrl.osd"
                 special="$ctrl"
                 class="oadatatable tc_cephOsdTable"
                 filter-config="$ctrl.filterConfig"
                 selection="$ctrl.selection"
                 on-selection-change="$ctrl.onSelectionChange(selection)"
                 on-filter-config-change="$ctrl.getOsdList()">
      <additional-actions>
        <div class="btn-group">
          <button type="button"
                  class="btn btn-sm btn-primary dropdown-toggle tc_scrub_toggle"
                  data-toggle="dropdown"
                  ng-class="{disabled: !$ctrl.hasSelection}">
            Perform Task
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-click="$ctrl.scrubAction(false)"
                class="tc_scrub_li">
              <a>
                <i class="fa fa-fw fa-stethoscope"></i>Srub</a>
            </li>
            <li ng-click="$ctrl.scrubAction(true)"
                class="tc_deep_scrub_li">
              <a>
                <i class="fa fa-fw fa-stethoscope"></i>Deep Scrub</a>
            </li>
          </ul>
        </div>

        <div class="separator"></div>

        <button class="btn btn-sm btn-default btn-label tc_configureCluster"
                type="button"
                ng-click="$ctrl.configureClusterAction()">
          <i class="fa fa-fw fa-cog"
             aria-hidden="true"></i>Configure Cluster-wide OSD Flags
        </button>
      </additional-actions>
      {{$ctrl.data.results}}
      <table class="table table-striped table-bordered table-hover dataTable datatable">
        <thead>
          <tr>
            <!-- Removes checkbox column
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                -->
            <th ng-show="columns['Name']"
                sortfield="name"
                sortdir="asc"
                sortheaderclass
                sortdefault>Name</th>
            <th ng-show="columns['Hostname']"
                sortfield="hostname"
                sortheaderclass>Hostname</th>
            <th ng-show="columns['Status']"
                sortfield="status"
                sortheaderclass>Status</th>
            <th ng-show="columns['Storage Backend']"
                sortfield="osd_objectstore"
                sortheaderclass>Storage Backend</th>
            <th ng-show="columns['Crush Weight']"
                sortfield="crush_weight"
                sortheaderclass>Crush Weight</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in data.results"
              ng-class="{ info: isRowSelected(row) }"
              class="clickable"
              ng-click="toggleSelection(row, $event)">
            <!-- Removes checkbox column
                <td ng-if="selection.available">
                    <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                -->
            <td ng-show="columns['Name']"
                ng-bind="row.name"></td>
            <td ng-show="columns['Hostname']"
                ng-bind="row.hostname"></td>
            <td ng-show="columns['Status']"
                ng-bind="row.status"></td>
            <td ng-show="columns['Storage Backend']"
                ng-bind="row.osd_objectstore"></td>
            <td ng-show="columns['Crush Weight']"
                ng-bind="row.crush_weight"></td>
          </tr>
        </tbody>
      </table>
    </oadatatable>

    <div id="more"
         ui-view="statistics">
    </div>

  </oa-module-loader>
</oa-ceph-cluster-loader>
