<oa-module-loader module="ceph_deployment">

  <oa-loading-panel message="Nodes are loading..."
                    ng-show="!$ctrl.error && !$ctrl.data.$resolved">
  </oa-loading-panel>
  <oa-error-panel title="Error {{$ctrl.error.status}}"
                  ng-if="$ctrl.error.statusText === 'NOT FOUND'">
    The resource could not be found.
  </oa-error-panel>

  <oadatatable ng-show="!$ctrl.error && $ctrl.data.results"
               class="oadatatable tc_cephNodesTable"
               data="$ctrl.data"
               filter-config="$ctrl.filterConfig"
               selection="$ctrl.selection"
               on-selection-change="$ctrl.onSelectionChange(selection)"
               on-filter-config-change="$ctrl.getNodes()"
               special="$ctrl">
    <additional-actions>
      <div class="btn-group">
        <button type="button"
                class="btn btn-sm btn-primary dropdown-toggle tc_scrub_toggle"
                data-toggle="dropdown"
                ng-class="{disabled: !($ctrl.hasSelection || $ctrl.multiSelection)}">
          Perform Task
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="$ctrl.scrubAction(false)"
              class="tc_scrub_li">
            <a>
              <i class="fa fa-fw fa-stethoscope"></i>Srub</a>
          </li>
          <li ng-click="$ctrl.scrubAction(true)"
              class="tc_deep_scrub_li">
            <a>
              <i class="fa fa-fw fa-stethoscope"></i>Deep Scrub</a>
          </li>
        </ul>
      </div>
    </additional-actions>
    <table class="table table-striped table-bordered table-hover dataTable datatable">
      <thead>
        <tr>
          <th class="oadatatablecheckbox"
              ng-if="selection.available">
            <input type="checkbox"
                   ng-model="selection.checkAll">
          </th>
          <th ng-show="columns['Hostname']"
              sortfield="hostname"
              sortdir="asc"
              sortheaderclass
              sortdefault>Hostname</th>
          <th ng-show="columns['Addresses']"
              sortfield="addresses"
              sortdir="asc"
              sortheaderclass>Addresses</th>
          <th ng-show="columns['Cluster']"
              sortfield="cluster"
              sortdir="asc"
              sortheaderclass>Cluster</th>
          <th ng-show="columns['Roles']">Roles</th>
          <th ng-show="columns['Key status']"
              sortfield="key_status"
              sortdir="asc"
              sortheaderclass>Key status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in data.results"
            ng-class="{ info: isRowSelected(row) }"
            class="clickable"
            ng-click="toggleSelection(row, $event)">
          <td ng-if="selection.available">
            <input type="checkbox"
                   checklist-model="selection.items"
                   checklist-value="row">
          </td>
          <td ng-show="columns['Hostname']"
              ng-bind="row.hostname"></td>
          <td ng-show="columns['Addresses']"
              ng-bind="row.addresses"></td>
          <td ng-show="columns['Cluster']"
              ng-bind="row.cluster"></td>
          <td ng-show="columns['Roles']"
              ng-bind="row.roles"></td>
          <td ng-show="columns['Key status']"
              ng-bind="row.key_status"></td>
        </tr>
      </tbody>
    </table>
  </oadatatable>

  <div id="more"
       ui-view="tab"
       tab-data="$ctrl.tabData"
       tab-config="$ctrl.tabConfig"
       selection="$ctrl.selection">
  </div>

</oa-module-loader>
